body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #00ff04 !important;
    /* background-image: url('../assets/FuAqmstaMAANcVG-dark.jpeg') !important; */
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}
  
.content-game {
    width: 83%;
    position: relative;
}
  
.sidebar-game {
    width: 17%;
    position: relative;
}

.label-score{
    position: absolute;
    margin-top: 20% !important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    pointer-events: none;
    -webkit-text-stroke: 0.6px #76b4ec;
    font-family: 'good timing bd';
    border-bottom: 4px solid #fff;
}

.label-crewscore{
    position: absolute;
    margin-top: 40% !important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px #76b4ec;
    pointer-events: none;
    -webkit-text-stroke: 0.6px black;
    font-family: 'good timing bd';
    border-bottom: 4px solid #fff;
}

.leaderboard {
    margin-top: 70% !important;
    width: 95%;
    max-width: 500px;
    font-size: smaller;
    border-collapse: collapse;
    color: #fff;
    position: absolute;
    font-family: 'good timing bd';
}

.leaderboard th, .leaderboard td {
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.jump-button:active {
    transform: translateY(5px);
    box-shadow: 0 3px 0 #662a5d;
}

.label-score strong, .label-crewscore strong {
    margin-left: 15%;
}

canvas {
    position: absolute;
    width: 1024px;
    height: 720px;
}

#game-canvas {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
}

/* end parallax setting */

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
    .label-score{
        margin-top: 25% !important;
        font-size: 32px;
    }

    .label-crewscore{
        margin-top: 45% !important;
        font-size: 32px;
    }

    .leaderboard {
        margin-top: 75% !important;
        font-size: larger;
    }
}